@CHARSET "UTF-8";

.error {
	font-size: small;
	color: red;
	margin-left:20px;
}

.formtable {
	width: 400px;
	padding: 10px;
	border: 1px solid blue;
}

.label {
	text-align: right;
	vertical-align: top;
}

input[type-text] {
	width: 250px;
}

textarea {
	width: 250px;
	height: 300px;
}

table.offers{
	padding: 20px;
	border: 1px solid gray;
}

p.error{
	
	color : red;
}